albumentations==0.5.2
bunch==1.0.1
loguru==0.5.3
matplotlib
numpy
opencv_python
Pillow
ruamel.base==1.0.0
scikit_learn
segmentation
timm==0.3.2
torch==1.7.0
torchstat==0.0.7
torchvision
tqdm
ttach==0.0.3
yacs==0.1.8
ruamel.yaml
